.course {
    position: absolute;
    width: 90%;
    margin-left: 5%;
    background-color: #737272;
    color: #34d4c7;
}

.course-section {
    margin: .25rem .25rem 0 .25rem;
}

.course-room {
    margin: 0 .25rem .25rem .25rem;
}
