.room {
    border: 1px solid #e3e3e3;
    border-radius: .5rem;
    margin: .5rem;
    padding: .5rem;
    background-color: #f5f5f5;
}

.summary {
    cursor: pointer;
}

.summary > span:first-child {
    margin: 0 1rem 0 .25rem;
}

.room > .summary::before {
    content: '⯈';
    display: inline-block;
    transition: transform .1s;
}

.room.expanded > .summary::before {
    transform: rotate(90deg);
}

@media (orientation: portrait) {
    .room > .summary::before {
        content: '';
        width: 0;
        height: 0;
        border-top: .35rem solid transparent;
        border-left: .55rem solid;
        border-bottom: .35rem solid transparent;
    }
}
