table {
    width: 100%;
    margin-top: .5rem;
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    position: relative;
    height: 4rem;
    border: 1px solid #efefef;
}

td:first-child {
    width: 5rem;
}

td.time {
    padding-right: .5rem;
    white-space: nowrap;
    text-align: right;
    vertical-align: top;
    border: none;
}

tr:first-child td {
    border: none;
    height: auto;
    text-align: center;
}
